@import url(./common.css);
header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  margin-left: 45%;
  z-index: 99999;
  background-color: transparent;
}
header .header_Middle {
  padding: 70px 0;
}
header .header_Middle ul {
  display: flex;
}
header .header_Middle ul li {
  font-family: "Noto Sans KR", sans-serif;
  margin-right: 70px;
}
header .header_Middle ul li a {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
}
header .header_Middle ul li a img {
  width: 28px;
}
header .header_Middle ul li a:hover::after {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 3px solid #fff;
}
header .header_Right {
  padding: 70px 0;
}
header .header_Right ul {
  display: flex;
}
header .header_Right ul .seach_icon {
  cursor: pointer;
}
header .header_Right ul .user_icon {
  cursor: pointer;
}
header .header_Right ul .bauer_icon {
  padding-top: 2px;
  cursor: pointer;
}
header .header_Right > ul > li {
  margin-right: 20px;
}
header.active .header_Middle a {
  color: #000;
}

.visual {
  width: 100%;
  height: 100vh;
}
.visual .contents {
  position: relative;
}
.visual .contents .slider p img {
  width: 100%;
}
.visual .contents .slider::after {
  width: 100%;
  height: 100vh;
  background-image: url("../img/Page_01_index/Visual_background.png");
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  opacity: 0.6;
  z-index: 99;
}
.visual .contents .Text {
  position: absolute;
  top: 0;
  left: 14%;
  z-index: 9999;
  width: 50%;
}
.visual .contents .Text .Top_text {
  width: 100%;
  padding-top: 330px;
  padding-left: 80px;
  font-family: "Noto Sans KR", sans-serif;
}
.visual .contents .Text .Top_text p {
  font-weight: 500;
  color: #ffffff;
  font-size: 27px;
  font-family: "Noto Sans KR", sans-serif;
}
.visual .contents .Text .Top_text p::after {
  content: "";
  display: inline-block;
  width: 230px;
  height: 62px;
  background-image: url("../img/Page_01_index/Main_Visual_icon_white.png");
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateX(40px);
}
.visual .contents .Text .Middle_Logo {
  width: 100%;
  padding-top: 50px;
  padding-left: 90px;
  padding-bottom: 40px;
}
.visual .contents .Text .Bottom_btn {
  margin-left: 80px;
  width: 260px;
  height: 70px;
  background-color: #F8991C;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.visual .contents .Text .Bottom_btn button {
  background: none;
  border: 0;
  color: #ffffff;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
}
.visual .contents .Text .Bottom_btn figure {
  vertical-align: middle;
  cursor: pointer;
}
.visual .contents .Text .cover {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

main {
  position: relative;
}
main .content_01 {
  width: 100%;
  display: flex;
  padding-bottom: 200px;
}
main .contents_zoon_01 {
  width: 72%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
main .contents_zoon_01 .text_01 {
  padding: 195px 0;
  word-break: keep-all;
  width: 50%;
}
main .contents_zoon_01 .text_01 h2 {
  padding-top: 10px;
  font-weight: 700;
  color: #337885;
}
main .contents_zoon_01 .text_01 .text_h2 {
  display: flex;
  align-items: center;
}
main .contents_zoon_01 .text_01 .text_h2 strong {
  font-size: 48px;
  font-weight: 700;
}
main .contents_zoon_01 .text_01 .text_h2 p {
  padding: 0 35px;
}
main .contents_zoon_01 .text_01 .text_h2 p img {
  width: 100%;
  vertical-align: middle;
}
main .contents_zoon_01 .text_01 .small {
  padding: 90px 0;
}
main .contents_zoon_01 .text_01 .small p {
  font-size: 22px;
  color: #9D9D9D;
  line-height: 1.6;
  padding-bottom: 70px;
}
main .contents_zoon_01 .text_01 .small button {
  border: none;
  background: none;
  width: 160px;
  height: 60px;
  background-color: #337885;
  color: #ffffff;
  font-weight: bold;
  border-radius: 40px 40px 40px 40px;
  font-family: "Noto Sans KR", sans-serif;
  cursor: pointer;
  font-size: 20px;
}
main .contents_zoon_01 .text_01 .small button a {
  color: #fff;
}
main .contents_zoon_01 .content_01_img {
  padding: 140px 0;
  position: relative;
}
main .contents_zoon_01 .content_01_img figure img {
  width: 100%;
}
main .contents_zoon_01 .content_01_img .hover {
  position: absolute;
  top: 350px;
  right: -10px;
}
main .contents_zoon_01 .content_01_img .hover p {
  font-weight: 500;
  color: #fff;
  font-size: 30px;
  transform: translate(110px, 180px);
}
main .aside_right {
  position: -webkit-sticky;
  position: sticky;
  bottom: 5%;
  right: 0;
  z-index: 99999;
  margin-left: 1823px;
}

.contents_02 {
  width: 72%;
  margin-left: 180px;
  padding: 100px 150px;
  position: relative;
}
.contents_02 .img_Text_01 {
  width: 360px;
  height: 530px;
  padding: 35px;
  margin: 0;
  position: relative;
  pointer-events: none;
}
.contents_02 .img_Text_01::after {
  content: "";
  border: 1px solid #337885;
  border-radius: 40px 0 0 40px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 472px;
}
.contents_02 .img_Text_01 .swiper-pagination {
  bottom: 0;
}
.contents_02 .img_Text_01 figure img {
  width: 100%;
  border-radius: 20PX 20PX 20PX 20PX;
}
.contents_02 .img_Text_01 figure figcaption {
  padding: 20px 0;
  font-family: "Noto Sans KR", sans-serif;
}
.contents_02 .img_Text_01 figure figcaption p {
  font-size: 25px;
  color: #000;
  font-weight: 500;
  padding-bottom: 10px;
}
.contents_02 .img_Text_01 figure figcaption small {
  color: #9D9D9D;
  font-size: 15px;
  line-height: 1.2;
  display: block;
}
.contents_02 .contents_zoon_02 {
  display: flex;
  position: absolute;
  right: 0%;
  top: 0%;
  z-index: 2;
}
.contents_02 .img_tittle {
  border: 1px solid #337885;
  border-radius: 40px 0 0 40px;
  width: 290px;
  height: 660px;
  background-color: #337885;
  color: #ffffff;
  padding-left: 70px;
  padding-top: 50px;
}
.contents_02 .img_tittle h2 {
  font-size: 50px;
  margin-left: 85px;
  font-family: "Noto Sans KR", sans-serif;
}
.contents_02 .img_tittle figcaption {
  font-weight: bold;
  font-size: 22px;
  margin-left: 55%;
}
.contents_02 .img_Text {
  border: 1px solid #337885;
  width: 590px;
  height: 660px;
  border-radius: 0 40px 40px 0;
  position: relative;
}
.contents_02 .img_Text .mini_bike_icon {
  position: absolute;
  top: -103px;
  left: 360px;
}
.contents_02 .img_Text .img_Text_02 {
  padding: 35px;
}
.contents_02 .img_Text .img_Text_02 figure img {
  width: 100%;
  border-radius: 20PX 20PX 20PX 20PX;
}
.contents_02 .img_Text .img_Text_02 figure figcaption {
  padding: 20px 0;
  font-family: "Noto Sans KR", sans-serif;
}
.contents_02 .img_Text .img_Text_02 figure figcaption p {
  font-size: 35px;
  color: #000;
  font-weight: 500;
  padding-bottom: 10px;
}
.contents_02 .img_Text .img_Text_02 figure figcaption small {
  color: #9D9D9D;
  font-size: 17px;
  line-height: 1.5;
}

.content_03_h2 {
  width: 72%;
  margin: 0 auto;
  padding-top: 140px;
  padding-bottom: 80px;
}
.content_03_h2 .flex {
  align-items: center;
  display: flex;
}
.content_03_h2 .flex h2 {
  font-weight: 700;
  font-size: 48px;
  padding-right: 35px;
  font-family: "Noto Sans KR", sans-serif;
}
.content_03_h2 .flex p img {
  vertical-align: middle;
}
.content_03_h2 h3 {
  color: #337885;
  font-weight: 500;
  font-family: "Noto Sans KR", sans-serif;
  padding-top: 10px;
}

.contents_03 {
  width: 100%;
  background-color: #337885;
}
.contents_03 .contents_zoon_03 {
  width: 68%;
  margin: 0 auto;
}
.contents_03 .img_Text_03 {
  padding-top: 130px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.contents_03 .img_Text_03 figure {
  width: 40%;
}
.contents_03 .img_Text_03 figure img {
  width: 100%;
  border-radius: 30px 30px 30px 30px;
}
.contents_03 .img_Text_03 figcaption {
  font-weight: 500;
  font-size: 28px;
  color: #ffffff;
  padding-top: 25px;
  font-family: "Noto Sans KR", sans-serif;
}
.contents_03 .img_Text_03 p {
  color: #DCDCDC;
  font-size: 22px;
  font-family: "Noto Sans KR", sans-serif;
}

.content_04_h2 {
  width: 72%;
  margin: 0 auto;
  padding-top: 140px;
  padding-bottom: 80px;
}
.content_04_h2 .flex {
  align-items: center;
  display: flex;
}
.content_04_h2 .flex h2 {
  font-size: 48px;
  padding-right: 40px;
  font-family: "Noto Sans KR", sans-serif;
}
.content_04_h2 .flex p img {
  vertical-align: middle;
}
.content_04_h2 h3 {
  color: #337885;
  font-weight: 300;
  font-family: "Noto Sans KR", sans-serif;
}

.contents_04 .contents_04_zoon {
  width: 72%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
}
.contents_04 .contents_04_zoon figure {
  width: 45%;
}
.contents_04 .contents_04_zoon figure img {
  border-radius: 40px 40px 40px 40px;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.contents_04 .contents_04_zoon .contents_Text {
  width: 45%;
}
.contents_04 .contents_04_zoon .contents_Text h2 {
  font-size: 42px;
  color: #515151;
}
.contents_04 .contents_04_zoon .contents_Text h3 {
  font-size: 42px;
  color: #515151;
}
.contents_04 .contents_04_zoon .contents_Text p {
  padding: 80px 0;
  font-size: 18px;
  color: #9D9D9D;
}
.contents_04 .contents_04_zoon .contents_Text button {
  border: none;
  background: none;
  width: 160px;
  height: 60px;
  background-color: #337885;
  color: #ffffff;
  font-weight: bold;
  border-radius: 40px 40px 40px 40px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
}
.contents_04 .contents_04_zoon .contents_Text button a {
  color: #fff;
}

.swiper-button-prev {
  left: 60px !important;
}

.swiper-button-next {
  right: -80px !important;
}

.swiper-pagination {
  margin-left: -120px;
}

.swiper-pagination-bullet {
  height: 15px !important;
  width: 15px !important;
}

:root {
  --swiper-theme-color: #337885 !important;
}

@media (min-width: 768px) and (max-width: 1024px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    margin-left: 75%;
    z-index: 99999;
    background-color: transparent;
  }
  header .header_Middle {
    padding: 70px 0;
  }
  header .header_Middle ul {
    display: none;
  }
  header .header_Middle ul li {
    font-family: "Noto Sans KR", sans-serif;
    margin-right: 70px;
  }
  header .header_Middle ul li a {
    color: #fff;
    font-size: 22px;
    font-weight: 500;
  }
  header .header_Middle ul li a img {
    width: 28px;
  }
  header .header_Middle ul li a:hover::after {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 3px solid #fff;
  }
  header .header_Right {
    padding: 70px 0;
  }
  header .header_Right ul {
    display: flex;
  }
  header .header_Right ul .seach_icon {
    cursor: pointer;
  }
  header .header_Right ul .user_icon {
    cursor: pointer;
  }
  header .header_Right ul .bauer_icon {
    padding-top: 2px;
    cursor: pointer;
  }
  header .header_Right > ul > li {
    margin-right: 20px;
  }
  header.active .header_Middle a {
    color: #000;
  }
  .visual {
    width: 100%;
    height: 100vh;
  }
  .visual .contents {
    position: relative;
  }
  .visual .contents .slider p img {
    width: 100%;
  }
  .visual .contents .slider::after {
    width: 100%;
    height: 100vh;
    background-image: url("../img/Page_01_index/Visual_background.png");
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    opacity: 0.6;
    z-index: 99;
  }
  .visual .contents .Text {
    position: absolute;
    top: 15%;
    left: 10%;
    z-index: 9999;
    width: 50%;
  }
  .visual .contents .Text .Top_text {
    width: 100%;
    padding-top: 150px;
    padding-left: 80px;
    font-family: "Noto Sans KR", sans-serif;
  }
  .visual .contents .Text .Top_text p {
    font-weight: 500;
    color: #ffffff;
    font-size: 25px;
    font-family: "Noto Sans KR", sans-serif;
  }
  .visual .contents .Text .Top_text p::after {
    content: "";
    display: inline-block;
    width: 230px;
    height: 62px;
    background-image: url("../img/Page_01_index/Main_Visual_icon_white.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateX(40px);
  }
  .visual .contents .Text .Middle_Logo {
    width: 100%;
    padding-top: 50px;
    padding-left: 90px;
    padding-bottom: 40px;
  }
  .visual .contents .Text .Middle_Logo figure img {
    width: 50%;
  }
  .visual .contents .Text .Bottom_btn {
    margin-left: 80px;
    width: 180px;
    height: 70px;
    background-color: #F8991C;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .visual .contents .Text .Bottom_btn button {
    background: none;
    border: 0;
    color: #ffffff;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
  }
  .visual .contents .Text .Bottom_btn figure {
    vertical-align: middle;
    cursor: pointer;
  }
  .visual .contents .Text .cover {
    position: absolute;
    left: -30%;
    top: 0;
    z-index: -1;
  }
  .visual .contents .Text .cover img {
    width: 90%;
  }
  main {
    position: relative;
  }
  main .content_01 {
    width: 100%;
    display: flex;
    padding-bottom: 0;
  }
  main .contents_zoon_01 {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  main .contents_zoon_01 .text_01 {
    padding-top: 150px;
    width: 70%;
  }
  main .contents_zoon_01 .text_01 h2 {
    padding-top: 10px;
    font-weight: 700;
    color: #337885;
    font-size: 20px;
    word-break: keep-all;
  }
  main .contents_zoon_01 .text_01 .text_h2 {
    display: flex;
    align-items: center;
  }
  main .contents_zoon_01 .text_01 .text_h2 strong {
    font-size: 30px;
    font-weight: 700;
  }
  main .contents_zoon_01 .text_01 .text_h2 p {
    padding: 0 35px;
    display: none;
  }
  main .contents_zoon_01 .text_01 .text_h2 p img {
    width: 100%;
    vertical-align: middle;
  }
  main .contents_zoon_01 .text_01 .small {
    padding: 50px 0;
  }
  main .contents_zoon_01 .text_01 .small p {
    font-size: 18px;
    color: #9D9D9D;
    line-height: 1.8;
    padding-bottom: 70px;
  }
  main .contents_zoon_01 .text_01 .small button {
    border: none;
    background: none;
    width: 160px;
    height: 60px;
    background-color: #337885;
    color: #ffffff;
    font-weight: bold;
    border-radius: 40px 40px 40px 40px;
    font-family: "Noto Sans KR", sans-serif;
    cursor: pointer;
    font-size: 20px;
  }
  main .contents_zoon_01 .text_01 .small button a {
    color: #fff;
  }
  main .contents_zoon_01 .content_01_img {
    padding: 300px 0;
    position: relative;
  }
  main .contents_zoon_01 .content_01_img figure img {
    width: 90%;
  }
  main .contents_zoon_01 .content_01_img .hover {
    position: absolute;
    top: 460px;
    right: 30px;
    width: 40%;
  }
  main .contents_zoon_01 .content_01_img .hover p {
    font-weight: 500;
    color: #fff;
    font-size: 18px;
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
  }
  main .contents_zoon_01 .content_01_img .hover img {
    width: 100%;
  }
  main .aside_right {
    position: -webkit-sticky;
    position: sticky;
    bottom: 5%;
    right: 0;
    z-index: 99999;
    margin-left: 1823px;
  }
  .contents_02 {
    width: 80%;
    margin-left: none;
    position: relative;
    margin: 0 auto;
    padding: 0;
  }
  .contents_02 .img_Text_01 {
    width: 360px;
    height: 530px;
    padding: 35px;
    margin: 0;
    position: relative;
    pointer-events: none;
    display: none;
  }
  .contents_02 .img_Text_01::after {
    content: "";
    border: 1px solid #337885;
    border-radius: 40px 0 0 40px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 472px;
  }
  .contents_02 .img_Text_01 .swiper-pagination {
    bottom: 0;
  }
  .contents_02 .img_Text_01 figure img {
    width: 100%;
    border-radius: 20PX 20PX 20PX 20PX;
  }
  .contents_02 .img_Text_01 figure figcaption {
    padding: 20px 0;
    font-family: "Noto Sans KR", sans-serif;
  }
  .contents_02 .img_Text_01 figure figcaption p {
    font-size: 25px;
    color: #000;
    font-weight: 500;
    padding-bottom: 10px;
  }
  .contents_02 .img_Text_01 figure figcaption small {
    color: #9D9D9D;
    font-size: 15px;
    line-height: 1.2;
    display: block;
  }
  .contents_02 .contents_zoon_02 {
    display: block;
    position: relative;
    right: 0%;
    top: 0%;
    z-index: 2;
  }
  .contents_02 .img_tittle {
    border: 1px solid #337885;
    border-radius: 40px 40px 0 0px;
    width: 80%;
    margin: 0 auto;
    height: auto;
    background-color: #337885;
    color: #ffffff;
    padding-left: 0;
    padding-top: 0;
  }
  .contents_02 .img_tittle h2 {
    font-size: 50px;
    font-family: "Noto Sans KR", sans-serif;
    margin-left: 0;
    text-align: center;
  }
  .contents_02 .img_tittle figure {
    display: none;
  }
  .contents_02 .img_tittle figcaption {
    display: none;
    font-weight: bold;
    font-size: 22px;
    margin-left: 55%;
  }
  .contents_02 .img_Text {
    border: 1px solid #337885;
    width: 80%;
    height: auto;
    border-radius: 0 0px 40px 40px;
    position: relative;
    margin: 0 auto;
  }
  .contents_02 .img_Text .mini_bike_icon {
    position: absolute;
    top: -103px;
    left: 360px;
    display: none;
  }
  .contents_02 .img_Text .img_Text_02 {
    padding: 35px;
  }
  .contents_02 .img_Text .img_Text_02 figure img {
    width: 100%;
    border-radius: 20PX 20PX 20PX 20PX;
  }
  .contents_02 .img_Text .img_Text_02 figure figcaption {
    padding: 20px 0;
    font-family: "Noto Sans KR", sans-serif;
  }
  .contents_02 .img_Text .img_Text_02 figure figcaption p {
    font-size: 35px;
    color: #000;
    font-weight: 500;
    padding-bottom: 10px;
  }
  .contents_02 .img_Text .img_Text_02 figure figcaption small {
    color: #9D9D9D;
    font-size: 17px;
    line-height: 1.5;
  }
  .content_03_h2 {
    width: 80%;
    margin: 0 auto;
    padding-top: 150px;
    padding-bottom: 50px;
  }
  .content_03_h2 .flex {
    align-items: center;
    display: flex;
  }
  .content_03_h2 .flex h2 {
    font-weight: 700;
    font-size: 30px;
    padding-right: 35px;
    font-family: "Noto Sans KR", sans-serif;
  }
  .content_03_h2 .flex p {
    display: none;
  }
  .content_03_h2 .flex p img {
    vertical-align: middle;
  }
  .content_03_h2 h3 {
    color: #337885;
    font-weight: 500;
    font-family: "Noto Sans KR", sans-serif;
    padding-top: 10px;
    font-size: 20px;
  }
  .contents_03 {
    width: 100%;
    background-color: #337885;
    overflow: hidden;
    position: relative;
  }
  .contents_03 .contents_zoon_03 {
    width: 80%;
    margin: 0 auto;
  }
  .contents_03 .img_Text_03 {
    padding-top: 130px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .contents_03 .img_Text_03 figure {
    width: auto;
  }
  .contents_03 .img_Text_03 figure img {
    width: 100%;
    border-radius: 30px 30px 30px 30px;
  }
  .contents_03 .img_Text_03 figcaption {
    font-weight: 500;
    font-size: 28px;
    color: #ffffff;
    padding-top: 25px;
    font-family: "Noto Sans KR", sans-serif;
  }
  .contents_03 .img_Text_03 p {
    color: #DCDCDC;
    font-size: 22px;
    font-family: "Noto Sans KR", sans-serif;
  }
  .content_04_h2 {
    width: 80%;
    margin: 0 auto;
    padding-top: 150px;
    padding-bottom: 50px;
  }
  .content_04_h2 .flex {
    align-items: center;
    display: flex;
  }
  .content_04_h2 .flex h2 {
    font-size: 30px;
    padding-right: 40px;
    font-family: "Noto Sans KR", sans-serif;
  }
  .content_04_h2 .flex p {
    display: none;
  }
  .content_04_h2 .flex p img {
    vertical-align: middle;
  }
  .content_04_h2 h3 {
    font-size: 20px;
    color: #337885;
    font-weight: 300;
    font-family: "Noto Sans KR", sans-serif;
  }
  .contents_04 .contents_04_zoon {
    width: 80%;
    display: block;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
  }
  .contents_04 .contents_04_zoon figure {
    width: 60%;
    margin: 0 auto;
  }
  .contents_04 .contents_04_zoon figure img {
    border-radius: 40px 40px 40px 40px;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .contents_04 .contents_04_zoon .contents_Text {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
  }
  .contents_04 .contents_04_zoon .contents_Text h2 {
    font-size: 30px;
    color: #515151;
  }
  .contents_04 .contents_04_zoon .contents_Text h3 {
    font-size: 20px;
    color: #515151;
  }
  .contents_04 .contents_04_zoon .contents_Text p {
    word-break: keep-all;
    padding: 20px 0;
    font-size: 18px;
    color: #9D9D9D;
  }
  .contents_04 .contents_04_zoon .contents_Text button {
    margin-top: 30px;
    border: none;
    background: none;
    width: 160px;
    height: 60px;
    background-color: #337885;
    color: #ffffff;
    font-weight: bold;
    border-radius: 40px 40px 40px 40px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 20px;
  }
  .contents_04 .contents_04_zoon .contents_Text button a {
    color: #fff;
  }
  .swiper-button-prev {
    left: auto !important;
  }
  .swiper-button-next {
    right: 0 !important;
  }
  .swiper-pagination {
    margin-left: -120px;
  }
  .swiper-pagination-bullet {
    height: 15px !important;
    width: 15px !important;
  }
  :root {
    --swiper-theme-color: #337885 !important;
  }
}/*# sourceMappingURL=index.css.map */