@import url("common.css");
body {
  background-color: #F5F5F5;
  width: 100%;
}

header {
  width: 100%;
  height: 110px;
  background-color: #F5F5F5;
}

.head {
  width: 80%;
  display: flex;
  vertical-align: middle;
  justify-content: space-between;
  margin: 0 auto;
}
.head a {
  margin-top: 20px;
}
.head a img {
  width: 120px;
  height: 65px;
  margin-right: 140px;
}

.list {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  width: 58%;
}
.list a {
  margin-top: 37px;
  color: #337885;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 22px;
  margin-right: 35px;
}

.list a:hover::after {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 3px solid #337885;
}

.icon {
  display: flex;
  vertical-align: middle;
  margin-top: 9px;
  width: 10%;
}
.icon a img {
  width: 30px;
  height: 30px;
  margin: 10px;
}

.pg1 div img {
  width: 100%;
  border-radius: 0 50px 0 0;
  position: relative;
  background-color: #F5F5F5;
}
.pg1 p {
  width: 100%;
}
.pg1 p img {
  position: absolute;
  right: 14%;
  top: 24% !important;
}
.pg1 h2 {
  color: #ffffff;
  position: absolute;
  left: 14%;
  top: 45% !important;
  font-size: 55px;
  font-family: "Noto Sans KR", sans-serif;
}

.pg2 {
  width: 100%;
  background-color: #ffffff;
  border-radius: 0 0 60px 0;
}
.pg2 h2 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 40px;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  padding-top: 60px;
  color: #337885;
}
.pg2 h2::after {
  width: 100px;
  content: "";
  display: block;
  border-bottom: 5px solid #337885;
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: center;
}
.pg2 .news {
  display: flex;
  justify-content: space-between;
  width: 72%;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 100px;
}
.pg2 .news li {
  width: 35%;
  border-bottom: none;
}
.pg2 .news li p {
  width: 100%;
}
.pg2 .news li p img {
  width: 420px;
  height: 420px;
}
.pg2 .news li h2 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 28px;
  color: #337885;
  margin-top: 5px;
  padding-top: 25px;
  text-align: left;
}
.pg2 .news li h2::after {
  display: none;
}
.pg2 .news li div {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  margin-top: 15px;
  color: #9D9D9D;
  width: 95%;
  margin-bottom: 20px;
}
.pg2 .news li span {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 19px;
  color: #9D9D9D;
  white-space: pre;
}

.pg3 {
  position: relative;
  width: 100%;
  background-color: #F5F5F5;
}
.pg3 h2 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 40px;
  margin: 0 auto;
  text-align: center;
  color: #337885;
}
.pg3 h2::after {
  width: 200px;
  content: "";
  display: block;
  border-bottom: 5px solid #337885;
  margin: 0 auto;
  padding-bottom: 20px;
}
.pg3 button {
  margin-top: 0;
  margin-left: 76%;
  border: none;
  border-radius: 30px;
}
.pg3 button z a {
  padding: 15px 45px;
  background-color: #337885;
  color: #ffffff;
  border-radius: 30px;
  font-size: 20px;
}

.pg4 {
  width: 100%;
  background-color: #ffffff;
  border-radius: 60px 0 0 0;
}
.pg4 h2 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 40px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 60px;
  color: #337885;
}
.pg4 h2::after {
  width: 200px;
  content: "";
  display: block;
  border-bottom: 5px solid #337885;
  margin: 0 auto;
  padding-bottom: 20px;
}
.pg4 .notice {
  margin: 0 auto;
  font-family: "Noto Sans KR", sans-serif;
  color: #929292;
  width: 65%;
  border-collapse: collapse;
}
.pg4 .notice thead tr th {
  padding: 20px;
  border-bottom: 2px solid #9C9C9C;
  text-align: center;
}
.pg4 .notice tbody tr td {
  border-bottom: 1px solid #9C9C9C;
  padding: 25px;
  text-align: center;
}
.pg4 .notice tbody tr td:nth-child(2) {
  text-align: left;
}
.pg4 .more {
  text-align: center;
  margin-left: 41%;
  margin-top: 40px;
  padding-bottom: 65px;
}
.pg4 .more ul {
  display: flex;
}
.pg4 .more ul li {
  font-weight: 500;
  font-size: 20px;
  color: #9C9C9C;
}
.pg4 .more ul li:nth-child(3) {
  color: #337885;
  font-weight: 500;
}
.pg4 .more ul p {
  display: inline-block;
  padding: 0 10px;
}

button {
  margin-left: 76%;
  border: none;
}
button a {
  padding: 15px 45px;
  background-color: #337885;
  color: #ffffff;
  border-radius: 30px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
}/*# sourceMappingURL=sub4.css.map */