/* =====================================header ==================== */
html,
body {
    margin: 0;
}

ul,
ol,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
figure,p {
    margin: 0;
}

img {
    vertical-align: top;
}
span,
b,
i,
em,
a,
strong,
mark {
    display: inline-block;
}
table {
    border-collapse: collapse;
}

a{text-decoration: none; }
* {
    box-sizing: border-box;
    font-family: "Montserrat","Noto Sans KR", sans-serif;
}


header{
    width: 100%;
    height: 110px;
    background-color: #F5F5F5;
    .head{
        width: 80%;
        display: flex;
        vertical-align: middle;
        justify-content: space-between;
        margin: 0 auto;
        a{
            margin-top: 20px;
            img{
                width: 120px; height: 65px;
                margin-right: 140px;
            }
        }
    }
    
    .list{
        display: flex;
        justify-content: space-between;
        vertical-align: middle;
        width: 58%;
        a{
            margin-top: 37px;
            color: #337885;
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 22px;
            margin-right: 35px;
    
        }
    }
    
    
    .list a{
        &:hover{
            &::after{
            content: '';
            display: block;
            width: 100%;
            padding-bottom: 5px;
            border-bottom: 3px solid #337885; 
            }
        }
    }
    
    .icon{
        display: flex;
        vertical-align: middle;
        margin-top: 9px;
        width: 10%;
        a{
            img{width: 30px; height: 30px;
                margin: 10px;
    
            }
        }
    }
}

/* ==========================footer ======================= */

footer{        
width: 100%; height: 530px;
background-color: #F5F5F5;
line-height: 1.3;
.ft{
    margin-top: 30px;
    margin-left: 178px;
    margin-bottom:60px;
    width: 72%;
    p{
        img{
        width: 104px; height: 64px;
        margin-top: 60px;
        }
    }
    ul{
        font-size: 18px;
        color: #4D4D4D !important ;
        margin-left: 120px;
        margin-top: 40px;
        display: flex;
        position: relative;
        .one{
            font-weight: 500;
            line-height: 1.5;
            transform: translateX(-120px);
            p{
                padding-bottom: 5px;
                b{}
            }
        }
        .two{
            padding-bottom: 60px;
            padding-bottom: 6px;
            line-height: 1.5;
            transform: translateX(50px);
            div{
                font-weight: 500;
                padding-bottom: 10px;
                padding-top: 0;
            }
            .lis{

                p{
                    color: #9C9C9C;
                }
            }
        }
        .three{
            font-weight: 500;
            transform: translateX(100px);
        }
        .four{
            font-weight: 500;
            transform: translateX(230px);
            div{
                padding: 0;
                margin-bottom: 10px;
            }
            .sns{
                p{
                    display: inline-block;
                img{   
                    width: 25px; height: 25px;
                    margin: 0;
                }
            }
            }
        }
        .five{

            .pics{
                position: absolute;
                right: -200px; bottom: -10px;
                p{

                img{
                    width: 177px; height: 49px;
                    margin:0
                }
            }
        }
        }
    }

    div{
        margin: 0 auto;
        padding-top: 35px;
    }

    .under{
        display: inline-block;
        text-align: left;
        padding-top: 15px;
        p{
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 18px;
            white-space: pre-line;
        }
        div{
            margin: 0;
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 17px;
            color: #9C9C9C;
            padding-top: 10px;
        }
    }
}
}


.cover_menu{
    display: none;
    width: 100%;
    height: 100vh;
    background-image: url('../img/Page_01_index/Visual_background.png');
    background-size: 100% 100%;
    opacity: 0.6;
    border: none;
    position: absolute;
    top: 0; left: 0;

    &.active{
        display: block;
    }
    .menu {
        float: right;
        width: 670px;
        height: 100vh;
        border: 1px solid #000;
        background-color: #337885;
        border: none;
        .TOP {
            display: flex;
            width: 72%;
            margin: 0 auto;
            justify-content: space-between;
            padding-top: 100px;
    
            button {
                border: 0;
                background: no-repeat;
                cursor: pointer;
            }
        }
    
        .link {
            padding-top: 170px;
            width: 72%;
            margin: 0 auto;
            li{
                
                a {
                    color: #fff;
                    font-size: 32px;
                    font-weight: 500;
                    padding-bottom: 40px;
                    display: block;
                    &:hover{
                        &::after{
                            content: '';
                            display: block;
                            width: 50%;
                            padding-bottom: 5px;
                            border-bottom: 3px solid #fff;
                        }
                    }
                }
            }
            
        }
    }
}

.cover_search{
    
    width: 100%;
    height: 100vh;
    background-color:rgba(0,0,0,0.8);
    border: none;
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 999999;
    display: none;
        
    &.active{display: block;}
    
    .search_form {
        width: 1100px;
        height: 220px;
        margin: 0 auto;
        margin-top: 100px;
        position: relative;
        
        button {
            padding-top: 100px;
            margin-left: 1020px;
            border: none;
            background: none;
            cursor: pointer;
        }
        .box {
            display: flex;
            input[type=text] {
                width: 790px;   height: 100px;
                background-color: #EBEBEB;
                padding: 25px;
                border: none;
                border-radius: 30px 0 0 30px;
                text-indent:2em;
                font-size: 25px;
            }
    
            input[type=text]::placeholder {
                color: #8A8A8A;
                font-size: 30px;
                text-align: left;
                
            }
    
            input[type=submit] {
                width: 310px;   height: 100px;
                background-color: #337885;
                border-radius: 0 30px 30px 0;
                border: none;
                margin-left: -5px;
                font-size: 30px;
                color: #fff;
                cursor: pointer;
            }
        }
        .link{
            padding-top: 25px;
            text-align: center;
            a{
                font-weight: 500;
                padding: 0 40px;
                font-size: 25px;
                color:#fff;
            }
            p{
                display: inline-block;
                color: #fff;
                font-weight: 500;
            }
        }
    }
}
.cover_login{
    width: 100%;
    height: 100vh;
    background-image: url('../img/Page_01_index/Visual_background.png');
    background-size: 100% 100%;
    display: none;
    position: fixed;
    top: 0; left: 0;
    &.active{
        display: block;   
    }
    // opacity: 0.6;
    
    .login_form {
        width: 670px;
        height: 100vh;
        margin: 0 auto;
        background-color: #337885;
        position: relative;
        
        button {
            cursor: pointer;
            border: none;
            background: none;
            margin-left: 560px;
            padding-top: 40px;
        }
        h2 {
            text-align: center;
            margin-top: 120px;
            margin-bottom: 90px
        }
        ul {
            text-align: center;
            li:nth-child(3){padding-bottom: 190px;}
            .fa-user{
                position: absolute;
                font-size: 28px;
                color:#337885;
                top: 435px;
                left: 80px;
            }
            input[type=text]{
                width: 560px;
                padding: 25px;
                font-size: 25px;
                margin-bottom: 20px;
                border-radius: 20px 20px 20px 20px;
                background-color: #D9D9D9;
                border: none;
                text-indent:2em;
            }
            .fa-lock{
                position: absolute;
                color: #337885;
                font-size: 28px;
                top: 535px;
                left: 80px;
            }
            input::placeholder{
                color: #337885;
                text-align: left;
                
            }
            
            input[type=password]{
                width: 560px;
                padding: 25px;
                font-size: 25px;
                border-radius: 20px 20px 20px 20px;
                background-color: #D9D9D9;
                border: none;
                text-align: center;
                text-indent:2em;
            }
            input[type=submit]{
                width: 260px;
                border-radius: 20px 20px 20px 20px;
                background-color: #F8991C;
                padding: 25px;
                font-size: 25px;
                color: #fff;
                border: none;
                position: absolute;
                bottom: 100px; left: 210px;
                cursor: pointer;
            }
        }
        div{
            text-align: center;
            font-size: 25px;
            bottom: 280px;
            left: 65px;
            padding-top: 20px;
            a:nth-child(2){
                padding: 0 70px;
            }
            p{
                display: inline-block;
                padding: 0 20px;
                color: #fff;
            }
            a{
                font-weight: 500;
                color: #fff;}
        }
        
        }
}
