@charset "UTF-8";
@import url("./common.css");
/* sub3 맨 위에 서브?페이지 */
footer {
  background-color: #9A9A9A !important;
}

.pg1 div img {
  width: 100%;
  border-radius: 0 50px 0 0;
  position: relative;
  background-color: #f5f5f5;
}
.pg1 p {
  width: 100%;
}
.pg1 p img {
  position: absolute;
  right: 14%;
  top: 34.3%;
  width: 490px;
  height: 365px;
}
.pg1 h2 {
  color: #337885;
  position: absolute;
  left: 14%;
  top: 55%;
  font-size: 55px;
  font-family: "Noto Sans KR", sans-serif;
}

footer {
  width: 100%;
  height: 530px;
  background-color: #f5f5f5;
  line-height: 1.3;
}
footer .ft {
  margin-left: 178px;
  margin-bottom: 60px;
  width: 72%;
}
footer .ft p img {
  width: 104px;
  height: 64px;
  margin-top: 60px;
}
footer .ft ul {
  margin-left: 120px;
  margin-top: 40px;
  display: flex;
  position: relative;
}
footer .ft ul .one {
  transform: translateX(-120px);
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
}
footer .ft ul .one p {
  padding-bottom: 5px;
}
footer .ft ul .two {
  transform: translateX(50px);
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
}
footer .ft ul .two div {
  padding-bottom: 10px;
  padding-top: 0;
}
footer .ft ul .two .lis {
  font-size: 18px;
}
footer .ft ul .two .lis p {
  color: #9c9c9c;
}
footer .ft ul .three {
  transform: translateX(100px);
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
}
footer .ft ul .four {
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
  transform: translateX(230px);
}
footer .ft ul .four div {
  padding: 0;
  margin-bottom: 10px;
}
footer .ft ul .four .sns p {
  display: inline-block;
}
footer .ft ul .four .sns p img {
  width: 25px;
  height: 25px;
  margin: 0;
}
footer .ft ul .five .pics {
  position: absolute;
  right: -200px;
  bottom: -10px;
}
footer .ft ul .five .pics p img {
  width: 177px;
  height: 49px;
  margin: 0;
}
footer .ft div {
  margin: 0 auto;
  padding-top: 35px;
}
footer .ft .under {
  display: inline-block;
  text-align: left;
  padding-top: 15px;
}
footer .ft .under p {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  white-space: pre-line;
}
footer .ft .under div {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 17px;
  color: #9c9c9c;
  padding-top: 10px;
}

.pg2 {
  z-index: 99;
  text-align: center;
  background-color: #f5f5f5;
  padding: 100px 0;
}
.pg2 h2 {
  font-size: 30px;
  font-family: "Noto Sans KR", sans-serif;
  color: #337885;
  padding: 20px 0;
  line-height: 1.5;
}
.pg2 p {
  margin: 0 auto;
}
.pg2 p img {
  margin: 0 auto;
  width: 370px;
  margin-bottom: 45px;
}
.pg2 .btn {
  display: block;
  text-align: center;
}
.pg2 .btn .a1 {
  vertical-align: middle;
  margin-top: 50px;
}
.pg2 .btn .a1 a {
  font-size: 22px;
  font-family: "Noto Sans KR", sans-serif;
  background-color: #e8e8e8;
  border-radius: 35px;
  padding: 30px 80px;
  margin: 30px 20px 0 0;
  color: #000;
  box-shadow: 5px 5px 15px rgb(136, 136, 136);
  display: inline-block;
}
.pg2 .btn .a1 a:hover {
  transform: scale(1.05);
}
.pg2 .btn .a2 {
  vertical-align: middle;
  margin-top: 25px;
}
.pg2 .btn .a2 a {
  font-size: 22px;
  font-family: "Noto Sans KR", sans-serif;
  background-color: #e8e8e8;
  border-radius: 35px;
  padding: 30px 80px;
  margin: 5px 20px 0 0;
  color: #000;
  box-shadow: 5px 5px 15px rgb(136, 136, 136);
  display: inline-block;
}
.pg2 .btn .a2 a:hover {
  transform: scale(1.05);
}
.pg2 .btn .a2 a.active {
  background-color: #f8991c;
  color: #ffffff;
}

.pg3 {
  width: 100%;
  justify-content: space-around;
  display: flex;
  background-color: #337885;
  padding: 0 14% 0 0;
}
.pg3 div ul {
  display: inline-block;
}
.pg3 div ul .select {
  background-color: white;
  color: #337885;
}
.pg3 div ul li {
  font-weight: bold;
  padding: 20px 40px 0;
  font-size: 27px;
  color: #ffffff;
  background-color: #337885;
  border-radius: 50px;
}
.pg3 div ul li::after {
  content: "";
  display: block;
  padding: 0px 0 20px;
}
.pg3 div ul li:last-of-type::after {
  border: none;
}
.pg3 .pg3_2 {
  background-color: #337885;
  display: flex;
  vertical-align: middle;
}
.pg3 .pg3_2 .icon {
  color: white;
  padding: 70px 300px;
}
.pg3 .pg3_2 .icon img {
  width: 250px;
}
.pg3 .pg3_2 .icon h4 {
  font-size: 28px;
  padding: 10px 0;
}
.pg3 .pg3_2 .icon .duddj {
  font-size: 80px;
  font-family: "Montserrat", sans-serif;
}
.pg3 .pg3_2 .icon p {
  font-size: 22px;
}
.pg3 .pg3_2 .text h3 {
  font-size: 26px;
  color: #337885;
}
.pg3 .pg3_2 .text p {
  font-size: 18px;
  color: white;
}

.text {
  display: flex;
  flex-direction: column;
}
.text .text1,
.text .text2 {
  width: 450px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 30px;
  padding: 20px;
  margin: 20px;
}
.text .text1_2 {
  padding: auto;
}
.text .text3_4 {
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: 20px;
  box-sizing: border-box;
}
.text .text3,
.text .text4 {
  padding: 20px 40px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 30px;
}/*# sourceMappingURL=sub3.css.map */